name: CI
on: [push, pull_request]
permissions:
  contents: read
jobs:
  linux_amd64:
    name: Linux (amd64)
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update Rust
      run: rustup toolchain install stable --profile minimal --no-self-update
    - name: Install MUSL Toolchain
      run: rustup target add x86_64-unknown-linux-musl
    - name: Install MUSL dependencies
      run: sudo apt-get install musl-tools
    - name: Enable Rust Caching
      uses: Swatinem/rust-cache@v2
    - name: Release Build
      run: cargo build --release --all --target x86_64-unknown-linux-musl
    - name: Execute Tests
      run: cargo test --release --all --target x86_64-unknown-linux-musl
    - name: Run Clippy
      run: cargo clippy --release --all --target x86_64-unknown-linux-musl --all-targets --all-features --locked -- -D warnings
    - name: Check Formatting
      run: cargo fmt --all -- --check
    - uses: actions/upload-artifact@v4
      with:
        name: linux-amd64
        path: target/x86_64-unknown-linux-musl/release/gitomato
  linux_arm64:
    name: Linux (arm64)
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update Rust
      run: rustup toolchain install stable --profile minimal --no-self-update
    - name: Install MUSL Toolchain
      run: rustup target add aarch64-unknown-linux-musl
    - name: Install MUSL dependencies
      run: sudo apt-get install musl-tools
    - name: Enable Rust Caching
      uses: Swatinem/rust-cache@v2
    - name: Release Build
      run: cargo build --release --all --target aarch64-unknown-linux-musl
    - name: Execute Tests
      run: cargo test --release --all --target aarch64-unknown-linux-musl
    - uses: actions/upload-artifact@v4
      with:
        name: linux-arm64
        path: target/aarch64-unknown-linux-musl/release/gitomato
  windows_amd64:
    name: Windows (amd64)
    runs-on: windows-2025
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install NASM
      uses: ilammy/setup-nasm@v1
    - name: Update Rust
      run: rustup toolchain install stable --profile minimal --no-self-update
    - name: Enable Rust Caching
      uses: Swatinem/rust-cache@v2
    - name: Release Build
      run: cargo build --release --all
    - name: Execute Tests
      run: cargo test --release --all
    - uses: actions/upload-artifact@v4
      with:
        name: windows-amd64
        path: target/release/gitomato.exe
  windows_arm64:
    name: Windows (arm64)
    runs-on: windows-11-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update Rust
      run: rustup toolchain install stable --profile minimal --no-self-update
    - name: Enable Rust Caching
      uses: Swatinem/rust-cache@v2
    - name: Release Build
      run: cargo build --release --all
    - name: Execute Tests
      run: cargo test --release --all
    - uses: actions/upload-artifact@v4
      with:
        name: windows-arm64
        path: target/release/gitomato.exe
  mac_amd64:
    name: Mac (amd64)
    runs-on: macos-15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update Rust
      run: rustup toolchain install stable --profile minimal --no-self-update
    - name: Install x64 target
      run: rustup target add x86_64-apple-darwin
    - name: Enable Rust Caching
      uses: Swatinem/rust-cache@v2
    - name: Release Build
      run: cargo build --release --all --target x86_64-apple-darwin
    - name: Execute Tests
      run: cargo test --release --all --target x86_64-apple-darwin
    - uses: actions/upload-artifact@v4
      with:
        name: mac-amd64
        path: target/x86_64-apple-darwin/release/gitomato
  mac_arm64:
    name: Mac (arm64)
    runs-on: macos-15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update Rust
      run: rustup toolchain install stable --profile minimal --no-self-update
    - name: Enable Rust Caching
      uses: Swatinem/rust-cache@v2
    - name: Release Build
      run: cargo build --release --all --target aarch64-apple-darwin
    - name: Execute Tests
      run: cargo test --release --all --target aarch64-apple-darwin
    - uses: actions/upload-artifact@v4
      with:
        name: mac-arm64
        path: target/aarch64-apple-darwin/release/gitomato
  docker_linux:
    name: Docker Linux (amd64 and arm64)
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build Docker Images
      run: |
        docker builder create --name builder
        docker buildx build --builder builder --platform=linux/amd64,linux/arm64 --pull .
    - name: Build & Push Develop Docker Images
      if: ${{github.ref == 'refs/heads/main'}}
      run: |
        echo ${{secrets.GITHUB_TOKEN}} | docker login ghcr.io -u ${{github.actor}} --password-stdin
        docker buildx build --builder builder --platform=linux/amd64,linux/arm64 --pull --push \
          --tag ghcr.io/${{github.actor}}/gitomato:develop .
        docker run --rm ghcr.io/${{github.actor}}/gitomato:develop ./gitomato --version
    - name: Build & Push Release Docker Images
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        echo ${{secrets.GITHUB_TOKEN}} | docker login ghcr.io -u ${{github.actor}} --password-stdin
        docker buildx build --builder builder --platform=linux/amd64,linux/arm64 --pull --push \
          --tag ghcr.io/${{github.actor}}/gitomato:latest \
          --tag ghcr.io/${{github.actor}}/gitomato:$(cut -d '.' -f 1 <<< "${{github.ref_name}}") \
          --tag ghcr.io/${{github.actor}}/gitomato:$(cut -d '.' -f 1,2 <<< "${{github.ref_name}}") \
          --tag ghcr.io/${{github.actor}}/gitomato:${{github.ref_name}} .
        docker run --rm ghcr.io/${{github.actor}}/gitomato:latest ./gitomato --version
  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    needs: [linux_amd64, linux_arm64, windows_amd64, windows_arm64, mac_amd64, mac_arm64, docker_linux]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Download Artifacts
      uses: actions/download-artifact@v4
    - name: Pack Artifacts for Release
      run: |
        zip -r windows-amd64.zip windows-amd64
        zip -r windows-arm64.zip windows-arm64
        zip -r linux-amd64.zip linux-amd64
        zip -r linux-arm64.zip linux-arm64
        zip -r mac-amd64.zip mac-amd64
        zip -r mac-arm64.zip mac-arm64
    - name: Publish Release
      uses: softprops/action-gh-release@v2
      with:
        body: Release created automatically from git tag ${{github.ref_name}}, see CHANGELOG.md for more details.
        files: |
          CHANGELOG.md
          LICENSE
          windows-amd64.zip
          windows-arm64.zip
          linux-amd64.zip
          linux-arm64.zip
          mac-amd64.zip
          mac-arm64.zip
